@media (min-width: 1200px) and (max-width: 1700px) {
  .login-form-container {
    padding: 80px 50px !important;
    min-height: 100vh;
    height: 100%;
  }

  #Sidebar {
    max-width: 300px;
    width: 100%;
  }

  .get-quote-form-container {
    padding: 45px;
  }

  .get-quote-content-container {
    margin-left: 0px;
  }

  .get-quote-content {
    padding: 0 50px;
  }

  .get-quote-content h2 {
    font-size: 36px;
    font-weight: 500;
    color: var(--light);
  }

  .get-quote-form .form-input-field {
    margin-top: 30px;
  }

  .get-quote-form .form-button-field {
    margin-top: 40px;
  }

  .account-details-form-wrapper .logo {
    width: 300px;
  }

  .account-details-form-wrapper {
    padding: 45px 100px;
  }

  .account-details-form .form-input-field {
    margin-top: 30px;
  }

  .account-details-shape2 {
    right: -45px;
  }

  .account-details-shape1 img,
  .account-details-shape2 img {
    max-width: 70%;
    width: 100%;
  }

  .my-quotes-bottom p {
    padding-right: 50px;
  }

  .my-quotes-bottom h6 {
    padding-left: 30px;
  }

  .my-quotes-bottom .approve-quote-btn {
    padding-left: 40px;
  }
}
