@media (min-width: 1200px) and (max-width: 1700px) {
  .login-form-container {
    padding: 100px 50px !important;
    height: auto;
  }

  #Sidebar {
    max-width: 300px;
    width: 100%;
  }

  .get-quote-form-container {
    padding: 45px 50px;
  }

  .get-quote-content-container {
    margin-left: 0px;
  }

  .get-quote-content {
    padding: 0 50px;
  }

  .get-quote-content h2 {
    font-size: 36px;
    font-weight: 500;
    color: var(--light);
  }

  .account-details-form-wrapper .logo {
    width: 300px;
  }

  .account-details-form-wrapper {
    padding: 45px 100px;
  }

  .account-details-form .form-input-field {
    margin-top: 30px;
  }

  .account-details-shape2 {
    right: -45px;
  }

  .account-details-shape1 img,
  .account-details-shape2 img {
    max-width: 70%;
    width: 100%;
  }
}
