@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

ol,
ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

:root {
  --primary: #001648;
  --secondary: #1dc68d;
  --dark: #000000;
  --light: #ffffff;
}

.gradient {
  background: linear-gradient(
    106.71deg,
    rgb(29, 198, 141) 8.45%,
    rgb(29, 107, 198) 141.94%
  );
}

.primary-btn {
  font-size: 18px;
  font-weight: 600;
  color: var(--light);
  background: rgb(29, 198, 141);
  padding: 14px 45px;
  border-radius: 4px;
}

.login-content-container {
  position: relative;
  background: var(--primary);
  height: 100%;
}

.login-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding-top: 100px;
}

.login-content .logo img {
  width: 300px;
  padding-bottom: 80px;
}

.login-content h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  color: var(--light);
}

.login-content p {
  font-size: 16px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px 40px;
}

.sign-up-btn {
  padding-top: 40px;
}

.top-shape {
  position: absolute;
  top: 0px;
}

.bottom-shape {
  position: absolute;
  bottom: 0px;
  right: 20px;
}

.login-form-container {
  max-width: 520px;
  width: 100%;
  margin: auto;
  padding-top: 100px;
  height: 100vh;
}

.login-title h4 {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: var(--secondary);
}

.login-title h4::after {
  position: absolute;
  content: "";
  left: 0px;
  bottom: -5px;
  width: 180px;
  height: 3px;
  background: rgb(151, 242, 212);
  border-radius: 12px;
}

.login-title p {
  font-size: 15px;
  line-height: 22px;
  color: rgba(107, 107, 107, 0.77);
  padding-top: 10px;
  opacity: 0.87;
}

.login-form {
  padding-top: 40px;
}

.form-input-field label {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(74, 74, 74);
  padding-bottom: 10px;
}

.form-input-field input,
.form-input-field select,
.form-input-field textarea {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: rgb(37, 35, 35);
  background: rgb(245, 248, 255);
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
}

.form-input-field input:focus,
.form-input-field select:focus,
.form-input-field textarea:focus {
  outline: 0px;
}

.password-input {
  width: 100%;
  background: rgb(245, 248, 255);
  border: none;
  border-radius: 3px;
}

::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgb(74, 74, 77);
}

#eye img {
  position: absolute;
  top: 18px;
  right: 20px;
}

#eye-on {
  display: none;
}

.login-form a {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: rgb(201, 28, 28);
  padding-top: 20px;
}

.form-button-field input {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: var(--light);
  padding: 14px;
  margin-top: 40px;
  border: none;
  border-radius: 4px;
}

.or {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 24px;
  text-transform: lowercase;
  color: rgb(122, 122, 122);
  margin: 40px 0px;
}

.or::before,
.or::after {
  position: absolute;
  content: "";
  top: 12px;
  width: 40%;
  height: 1px;
  background: var(--dark);
}

.or::before {
  left: 0px;
}

.or::after {
  right: 0px;
}

.google-login-btn a {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: var(--dark);
  background: var(--light);
  padding: 15px 0px;
  border: 1px solid var(--dark);
  border-radius: 5px;
}

.google-login-btn a img {
  width: 50px;
  padding-right: 15px;
}

.already-have-account {
  background: var(--primary);
  z-index: 1;
}

.login-form-container .logo img {
  max-width: 300px;
  width: 100%;
}

.login-form-container h3 {
  font-size: 28px;
  font-weight: 700;
  color: var(--light);
  padding-top: 40px;
}

.already-have-account .login-form {
  padding-top: 40px;
}

.already-have-account .form-input-field label,
.already-have-account .or {
  color: var(--light);
}

.already-have-account .or::before,
.already-have-account .or::after {
  background: var(--light);
}

.already-have-account .top-shape,
.already-have-account .bottom-shape {
  z-index: -1;
}

.already-have-account .top-shape img,
.already-have-account .bottom-shape img {
  width: 70%;
}

.register-content-container {
  height: 100%;
  padding: 80px 60px;
}

.register-form .form-input-field {
  margin-top: 45px;
}

.register-form .form-button-field input {
  background: var(--secondary);
  margin-top: 78px;
}

.call-quotes-wrapper {
  display: flex;
}

#Sidebar {
  position: fixed;
  top: 0;
}

.sidebar-wrapper {
  position: relative;
  background: var(--primary);
  padding: 45px 40px;
  min-height: 100vh;
}

.sidebar-logo img {
  max-width: 230px;
  width: 100%;
  margin: auto;
  padding-bottom: 70px;
}

.sidebar-menu ul li,
.sidebar-bottom-menu ul li {
  margin-bottom: 25px;
}

.sidebar-menu ul li a {
  font-size: 16px;
  font-weight: 400;
  color: rgb(141, 150, 172);
}

.sidebar-menu ul li a img {
  width: 30px;
  margin-right: 18px;
  opacity: 0.7;
}

.sidebar-menu ul li.active a {
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.sidebar-menu ul li.active a img {
  opacity: 1;
}

.sidebar-bottom-menu {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 50px 20px 0px;
}

.sidebar-bottom-menu ul li a {
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  padding: 0px 20px;
}

.sidebar-bottom-menu ul li a img {
  width: 30px;
  margin-right: 18px;
}

.logout-btn a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgb(1, 28, 90);
  border-radius: 6px;
  padding: 20px !important;
}

.logout-btn a img {
  margin-right: 0px !important;
}

.sidebar-bottom-menu hr {
  color: rgba(79, 255, 196, 0.48);
  opacity: 1;
  margin: 0px 0px 40px;
}

#Call-quotes-content {
  flex: 1 1 0%;
  padding: 45px 50px;
  margin-left: 300px;
}

.call-quotes-content-wrapper h4 {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: rgb(29, 198, 141);
}

.call-quotes-content-wrapper h4::after {
  position: absolute;
  content: "";
  left: 0px;
  bottom: -5px;
  width: 350px;
  height: 3px;
  background: rgb(151, 242, 212);
  border-radius: 12px;
}

.call-quotes-table-container {
  padding-top: 60px;
}

.call-quotes-table-container > p {
  font-size: 14px;
  font-weight: 500;
  color: rgb(2, 57, 139);
  margin: 0px;
  padding-bottom: 8px;
  opacity: 0.87;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: rgb(0, 22, 72);
  border-radius: 5px 5px 0px 0px;
}

.table-header h6 {
  font-size: 18px;
  font-weight: 600;
  color: var(--light);
  margin: 0px;
}

.table-header h6 span {
  font-size: 16px;
  font-weight: 500;
  color: rgb(204, 220, 255);
  margin: 0px;
}

.table-header p {
  font-size: 16px;
  font-weight: 500;
  color: rgb(210, 224, 255);
  margin: 0px;
}

table {
  width: 100%;
  text-align: center;
}

table thead {
  background: rgb(239, 244, 255);
}

table thead th {
  font-size: 14px;
  font-weight: 500;
  padding: 15px 0px;
}

table tbody tr td:first-child {
  text-align: left;
  padding-left: 20px;
}

table tbody tr td {
  font-size: 14px;
  font-weight: 500;
  padding: 15px 0px;
  color: rgb(40, 40, 40);
}

table thead th:first-child {
  text-align: left;
  padding-left: 20px;
}

table tbody tr td img {
  padding: 0px 15px;
}

.add-item-btn a {
  font-size: 14px;
  font-weight: 500;
  color: rgb(2, 57, 139);
  opacity: 0.87;
  cursor: pointer;
}

.add-item-btn a span {
  width: 34px;
  height: 34px;
  font-size: 20px;
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: var(--primary);
  margin-right: 15px;
  border-radius: 100%;
}

.total-exc h6 {
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  color: rgb(113, 113, 113);
  margin: 0px;
}

.total-exc h5 {
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
  color: rgb(29, 198, 141);
  margin: 0px;
}

.save-quote-btn a {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  background: rgb(23, 218, 249);
  padding: 14px 20px;
  border-radius: 4px;
  color: rgb(255, 255, 255) !important;
}

.save-quote-btn a img,
.approve-quote-btn a img {
  padding-left: 10px;
}

.approve-quote-btn a {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  background: var(--secondary);
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  color: rgb(255, 255, 255) !important;
}

.get-quote-wrapper {
  display: flex;
}

.get-quote-title {
  max-width: 400px;
  width: 100%;
}

.get-quote-title h4 {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: var(--secondary);
}

.get-quote-title h4::after {
  position: absolute;
  content: "";
  left: 0px;
  bottom: -5px;
  width: 260px;
  height: 3px;
  background: rgb(151, 242, 212);
  border-radius: 12px;
}

.get-quote-title p {
  font-size: 15px;
  line-height: 22px;
  color: rgba(107, 107, 107, 0.77);
  padding-top: 10px;
  opacity: 0.87;
}

#Get-quote-content-wrapper {
  flex: 1 1 0%;
  margin-left: 300px;
}

.get-quote-form-container {
  padding: 45px 75px;
}

.get-quote-form .form-input-field {
  margin-top: 55px;
}

.get-quote-form .form-button-field {
  margin-top: 60px;
}

.get-quote-form .form-button-field button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--light);
  background: var(--secondary);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}

.get-quote-content-container {
  position: relative;
  background: linear-gradient(rgba(0, 22, 72, 0.93), rgba(0, 22, 72, 0.93)) 0%
      0% / cover no-repeat,
    url("../images/get-quote-bg.png");
  min-height: 100vh;
  height: 100%;
  margin-left: 30px;
}

.rfq-quote-content-container {
  background: linear-gradient(rgba(0, 22, 72, 0.93), rgba(0, 22, 72, 0.93)),
    url("../images/rfq-bg.png");
}

.get-quote-shape {
  position: absolute;
  top: 0px;
  right: 0px;
}

.get-quote-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0px 160px;
}

.get-quote-content h2 {
  font-size: 40px;
  font-weight: 500;
  color: var(--light);
}

.get-quote-content h2 span {
  color: var(--secondary);
}

.get-quote-content p {
  font-size: 16px;
  line-height: 29px;
  color: var(--light);
  padding-top: 5px;
}

.account-details-wrapper {
  display: flex;
}

#Account-details-form {
  flex: 1 1 0%;
  margin-left: 300px;
}

.account-details-form-wrapper {
  position: relative;
  min-height: 100vh;
  height: 100%;
  padding: 45px 200px;
}

.account-details-form-wrapper .logo {
  width: 400px;
  margin: auto;
  padding-bottom: 60px;
}

.account-details-form .form-input-field {
  margin-top: 40px;
}

.account-details-form .post-code-field {
  max-width: 55%;
  width: 100%;
}

.account-details-form .form-button-field {
  max-width: 40%;
  width: 100%;
  margin-top: 75px;
}

.account-details-form .update-profile-btn {
  margin-top: 0px;
  background: var(--secondary);
}

.account-details-shape1 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -1;
}

.account-details-shape2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

.my-orders-wrapper {
  display: flex;
}

#Order-content {
  flex: 1 1 0%;
  padding: 45px 50px;
  margin-left: 300px;
}

.order-content-wrapper h4 {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: rgb(29, 198, 141);
}

.order-content-wrapper h4::after {
  position: absolute;
  content: "";
  left: 0px;
  bottom: -5px;
  width: 200px;
  height: 3px;
  background: rgb(151, 242, 212);
  border-radius: 12px;
}

.order-table-container {
  padding-top: 60px;
}

.order-table-container2 {
  padding-top: 150px;
}

.view-details-btn img {
  padding-left: 10px;
}

.my-quotes-wrapper {
  display: flex;
}

#Quotes-content {
  flex: 1 1 0%;
  padding: 45px 50px;
  margin-left: 300px;
}

.quotes-content-wrapper h4 {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: rgb(29, 198, 141);
}

.quotes-content-wrapper h4::after {
  position: absolute;
  content: "";
  left: 0px;
  bottom: -5px;
  width: 200px;
  height: 3px;
  background: rgb(151, 242, 212);
  border-radius: 12px;
}

.quotes-table-container {
  padding-top: 60px;
}

.my-quotes-bottom p {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  color: rgb(92, 92, 92);
  padding-right: 60px;
  margin: 0px;
}

.my-quotes-bottom p::after {
  position: absolute;
  content: "";
  top: 10px;
  right: -10px;
  width: 40px;
  height: 1px;
  background: rgba(1, 28, 90, 0.48);
}

.my-quotes-bottom h6 {
  font-size: 17px;
  font-weight: 600;
  color: var(--secondary);
  padding-left: 50px;
  margin: 0px;
}

.my-quotes-bottom .approve-quote-btn {
  position: relative;
  margin-top: 60px;
  padding-left: 60px;
}

.add-item-pop-up-wrapper {
  max-width: 830px;
  width: 100%;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 22px;
  border-radius: 8px;
}

.add-item-pop-up-title {
  width: 100%;
  background: var(--primary);
  border-radius: 6px;
}

.add-item-pop-up-title h5 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: rgb(250, 252, 255);
  padding: 25px 0px;
  margin: 0px;
}

#Cross-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

#Cross-icon button {
  background: rgb(0, 11, 36);
  padding: 17px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.add-pop-up-form {
  padding: 40px;
}

.add-pop-up-form .form-input-field select {
  font-weight: 400;
}

.add-pop-up-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add-pop-up-buttons .cancel-btn a {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: rgb(238, 29, 29);
}

.add-pop-up-btn button {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: rgb(255, 255, 255);
  background: var(--secondary);
  padding: 8px 20px;
  margin-left: 60px;
  border: none;
  border-radius: 4px;
}

.add-pop-up-btn button img {
  padding-left: 10px;
}

.modal-content {
  background: none;
  border: none;
}

#SAModal .modal-dialog,
#SBModal .modal-dialog {
  max-width: 800px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: unset;
  margin-left: unset;
  z-index: 99999;
}

#SAViewModal .modal-dialog {
  max-width: 800px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: unset;
  margin-left: unset;
}

.view-details-modal {
  max-width: 830px;
  width: 100%;
  background: rgb(255, 255, 255);
  padding-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 22px;
  border-radius: 8px;
}

.view-order-table-header {
  background: rgb(229, 237, 255);
  padding: 15px 20px;
}

.view-order-table-header p {
  font-size: 15px;
  font-weight: 500;
  color: rgb(0, 22, 72);
  margin: 0px;
}

.view-order-table-header p span {
  font-weight: 600;
  font-size: 18px;
}

.order-details-total h6 {
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  color: rgb(0, 22, 72);
}

.order-details-total h6 span {
  font-size: 17px;
  font-weight: 600;
  color: rgb(29, 198, 141);
}

.view-details-modal .order-table-container {
  padding-top: 0px;
}

.order-details-back-btn {
  padding: 40px 20px 0px 0px;
}

.order-details-back-btn a {
  font-size: 16px;
  color: var(--light);
  background: rgb(29, 198, 141);
  padding: 14px 50px;
  border-radius: 4px;
}

#saveQuoteModal .modal-dialog {
  max-width: 900px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: unset;
  margin-left: unset;
}

.save-quote-modal-wrapper {
  background: rgb(2, 57, 139);
  padding: 100px 150px;
}

.save-quote-modal-content h3 {
  font-size: 32px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.save-quote-filed label {
  font-size: 14px;
  font-weight: 400;
  color: rgb(210, 224, 255);
  padding-bottom: 10px;
}

.save-quote-filed input {
  max-width: 400px;
  width: 100%;
  background: rgb(245, 248, 255);
  padding: 14px 20px;
  border: none;
  border-radius: 3px;
}

.save-quote-filed input:focus {
  outline: 0px;
}

.save-quote-modal-btn {
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 14px 40px;
  background: linear-gradient(
    106.71deg,
    rgb(29, 198, 141) 8.45%,
    rgb(29, 107, 198) 141.94%
  );
  border: none;
  border-radius: 4px;
}

.save-quote-cancel-btn {
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding-left: 30px;
  background: transparent;
  margin: 0px;
  cursor: pointer;
}

.save-quote-modal-content span {
  display: block;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  color: rgb(255, 255, 255);
  margin-top: 50px;
}

.save-quote-shape1 {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

#saveQuoteModal2 .modal-dialog {
  max-width: 900px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: unset;
  margin-left: unset;
}

.save-quote-modal-wrapper2 {
  background: rgb(29, 198, 141);
  padding: 100px;
}

.save-quote-modal-content2 h3 {
  font-size: 32px;
  font-weight: 500;
  color: rgb(7, 7, 7);
  margin-bottom: 40px;
}

.save-quote-modal-content2 p {
  color: rgb(12, 12, 12);
}

.go-to-quotes,
.my-quotes {
  display: block;
  width: 160px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border-radius: 4px;
  padding: 16px !important;
  color: rgb(255, 255, 255) !important;
}

.go-to-quotes {
  background: rgb(2, 57, 139) !important;
}

.my-quotes {
  margin-left: 30px;
  background: rgb(11, 168, 235) !important;
}

.save-quote-shape2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

#orderConfirmationModal .modal-dialog {
  max-width: 900px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: unset;
  margin-left: unset;
}

.order-confirmation-modal {
  background: rgb(2, 57, 139);
}

.order-confirmation-modal-wrapper {
  padding: 100px;
}

.order-confirmation-modal h3 {
  font-size: 32px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
}

.order-confirmation-modal h5 {
  font-size: 20px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.order-confirmation-modal p {
  color: rgb(255, 255, 255);
}

.order-confirmation-modal p span {
  color: rgb(104, 174, 255);
}

.order-confirmation-shape {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.log-out-btn,
.my-orders-btn {
  display: block;
  width: 160px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border-radius: 4px;
  padding: 16px !important;
  color: rgb(255, 255, 255) !important;
}

.log-out-btn {
  background: rgb(29, 198, 141) !important;
}

.my-orders-btn {
  margin-left: 30px;
  background: rgb(11, 168, 235) !important;
}
