/* Base Styles CSS Start */

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

/* Colors */

:root {
  --primary: #001648;
  --secondary: #1dc68d;
  --dark: #000000;
  --light: #ffffff;
}

.gradient {
  background: linear-gradient(106.71deg, #1dc68d 8.45%, #1d6bc6 141.94%);
}

.primary-btn {
  font-size: 18px;
  font-weight: 600;
  color: var(--light);
  background: #1dc68d;
  padding: 14px 45px;
  border-radius: 4px;
}

/* Base Styles CSS End */

/* =========***=========
Login Page CSS
=========***========= */

/* Login Section CSS Start */

.login-content-container {
  position: relative;
  background: var(--primary);
  height: 100%;
}

.login-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.login-content .logo img {
  width: 300px;
  padding-bottom: 100px;
}

.login-content h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  color: var(--light);
}

.login-content p {
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  padding: 10px 40px;
}

.sign-up-btn {
  padding-top: 40px;
}

.top-shape {
  position: absolute;
  top: 0;
}

.bottom-shape {
  position: absolute;
  bottom: 0;
  right: 20px;
}

.login-form-container {
  max-width: 520px;
  width: 100%;
  margin: auto;
  padding-top: 100px;
  height: 100vh;
}

.login-title h4 {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: var(--secondary);
}

.login-title h4::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  width: 180px;
  height: 3px;
  background: #97f2d4;
  border-radius: 12px;
}

.login-title p {
  font-size: 15px;
  line-height: 22px;
  color: rgba(107, 107, 107, 0.77);
  padding-top: 10px;
  opacity: 0.87;
}

.login-form {
  padding-top: 80px;
}

.form-input-field label {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #4a4a4a;
  padding-bottom: 10px;
}

.form-input-field input,
.form-input-field select,
.form-input-field textarea {
  width: 100%;
  background: #f5f8ff;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
}

.form-input-field input:focus,
.form-input-field select:focus,
.form-input-field textarea:focus {
  outline: 0;
}

.password-input {
  width: 100%;
  background: #f5f8ff;
  border: none;
  border-radius: 3px;
}

::placeholder {
  color: #4a4a4d;
}

#eye img {
  position: absolute;
  top: 18px;
  right: 20px;
}

#eye-on {
  display: none;
}

.login-form a {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #c91c1c;
  padding-top: 20px;
}

.form-button-field input {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: var(--light);
  padding: 14px;
  margin-top: 50px;
  border: none;
  border-radius: 4px;
}

.or {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 24px;
  text-transform: lowercase;
  color: #7a7a7a;
  margin: 50px 0;
}

.or::before,
.or::after {
  position: absolute;
  content: "";
  top: 12px;
  width: 40%;
  height: 1px;
  background: var(--dark);
}

.or::before {
  left: 0;
}

.or::after {
  right: 0;
}

.google-login-btn a {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: var(--dark);
  background: var(--light);
  padding: 15px 0;
  border: 1px solid var(--dark);
  border-radius: 5px;
}

.google-login-btn a img {
  width: 50px;
  padding-right: 15px;
}

/* Login Section CSS End */

/* =========***=========
Register Page CSS
=========***========= */

/* Register Section CSS Start */

.already-have-account {
  background: var(--primary);
  z-index: 1;
}

.login-form-container logo img {
  max-width: 300px;
  width: 100%;
}

.login-form-container h3 {
  font-size: 30px;
  font-weight: 700;
  color: var(--light);
  padding-top: 40px;
}

.already-have-account .login-form {
  padding-top: 40px;
}

.already-have-account .form-input-field label,
.already-have-account .or {
  color: var(--light);
}

.already-have-account .or::before,
.already-have-account .or::after {
  background: var(--light);
}

.already-have-account .top-shape,
.already-have-account .bottom-shape {
  z-index: -1;
}

.already-have-account .top-shape img,
.already-have-account .bottom-shape img {
  width: 70%;
}

.register-content-container {
  height: 100%;
  padding: 100px 60px;
}

.register-form .form-input-field {
  margin-top: 45px;
}

.register-form .form-button-field input {
  background: var(--secondary);
  margin-top: 78px;
}

/* Register Section CSS End */

/* =========***=========
Call Page Quote Result Page CSS
=========***========= */

/* Call Page CSS Start */

.call-quotes-wrapper {
  display: flex;
}

#Sidebar {
  max-width: 320px;
  width: 320px;
}

.sidebar-wrapper {
  position: relative;
  background: var(--primary);
  padding: 45px 40px;
  min-height: 100vh;
  height: 100%;
}

.sidebar-logo img {
  max-width: 230px;
  width: 100%;
  margin: auto;
  padding-bottom: 70px;
}

.sidebar-menu ul li,
.sidebar-bottom-menu ul li {
  margin-bottom: 30px;
}

.sidebar-menu ul li a {
  font-size: 16px;
  font-weight: 600;
  color: #8d96ac;
}

.sidebar-menu ul li a img {
  width: 35px;
  margin-right: 18px;
  opacity: 0.7;
}

.sidebar-menu ul li.active a {
  color: #ffffff;
}

.sidebar-menu ul li.active a img {
  opacity: 1;
}

.sidebar-bottom-menu {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 50px 20px 0;
}

.sidebar-bottom-menu ul li a {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  padding: 0 20px;
}

.sidebar-bottom-menu ul li a img {
  width: 30px;
  margin-right: 18px;
}

.logout-btn a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px !important;
  background: #011c5a;
  border-radius: 6px;
}

.logout-btn a img {
  margin-right: 0px !important;
}

.sidebar-bottom-menu hr {
  color: rgba(79, 255, 196, 0.48);
  opacity: 1;
  margin: 0 0 40px;
}

/* Call Quotes Content Section CSS Start */

#Call-quotes-content {
  flex: 1;
  padding: 45px 50px;
}

.call-quotes-content-wrapper h4 {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #1dc68d;
}

.call-quotes-content-wrapper h4::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  width: 350px;
  height: 3px;
  background: #97f2d4;
  border-radius: 12px;
}

.call-quotes-table-container {
  padding-top: 60px;
}

.call-quotes-table-container > p {
  font-size: 14px;
  font-weight: 500;
  color: #02398b;
  margin: 0;
  padding-bottom: 8px;
  opacity: 0.87;
}

.call-quotes-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #001648;
  border-radius: 5px 5px 0px 0px;
}

.call-quotes-table-header h6 {
  font-size: 18px;
  font-weight: 600;
  color: var(--light);
  margin: 0;
}

.call-quotes-table-header p {
  font-size: 16px;
  font-weight: 500;
  color: #d2e0ff;
  margin: 0;
}

.call-quotes-table table {
  width: 100%;
  text-align: center;
}

.call-quotes-table table thead {
  background: #eff4ff;
}

.call-quotes-table table thead th {
  font-size: 14px;
  font-weight: 500;
  padding: 15px 0;
}

.call-quotes-table table tbody tr td:first-child {
  text-align: left;
  padding-left: 20px;
}

.call-quotes-table table tbody tr td {
  font-size: 14px;
  font-weight: 500;
  padding: 15px 0;
  color: #282828;
}

.call-quotes-table table thead th:first-child {
  text-align: left;
  padding-left: 20px;
}

.call-quotes-table table tbody tr td img {
  padding: 0 15px;
}

.add-item-btn a {
  font-size: 14px;
  font-weight: 500;
  color: #02398b;
  opacity: 0.87;
}

.add-item-btn a span {
  width: 34px;
  height: 34px;
  font-size: 20px;
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  margin-right: 15px;
  border-radius: 100%;
}

.total-exc h6 {
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  color: #717171;
  margin: 0;
}

.total-exc h5 {
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
  color: #1dc68d;
  margin: 0;
}

.save-quote-btn a {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  background: #17daf9;
  padding: 14px 20px;
  border-radius: 4px;
}

.save-quote-btn a img,
.approve-quote-btn a img {
  padding-left: 10px;
}

.approve-quote-btn a {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  background: var(--secondary);
  padding: 14px 20px;
  border-radius: 4px;
}

/* Call Quotes Content Section CSS End */

/* Call Page CSS End */

/* =========***=========
Get Quote and RFQ Page CSS
=========***========= */

/* Get Quote Form CSS Start */

.get-quote-wrapper {
  display: flex;
}

.get-quote-title {
  max-width: 400px;
  width: 100%;
}

.get-quote-title h4 {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: var(--secondary);
}

.get-quote-title h4::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  width: 260px;
  height: 3px;
  background: #97f2d4;
  border-radius: 12px;
}

.get-quote-title p {
  font-size: 15px;
  line-height: 22px;
  color: rgba(107, 107, 107, 0.77);
  padding-top: 10px;
  opacity: 0.87;
}

#Get-quote-content-wrapper {
  flex: 1;
}

.get-quote-form-container {
  padding: 45px 75px;
}

.get-quote-form .form-input-field {
  margin-top: 55px;
}

.get-quote-form .form-button-field {
  margin-top: 60px;
}

.get-quote-form .form-button-field button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--light);
  background: var(--secondary);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}

.get-quote-content-container {
  position: relative;
  background: linear-gradient(rgba(0, 22, 72, 0.93), rgba(0, 22, 72, 0.93)),
    url(../images/get-quote-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
  margin-left: 30px;
}

.rfq-quote-content-container {
  background: linear-gradient(rgba(0, 22, 72, 0.93), rgba(0, 22, 72, 0.93)),
    url(../images/rfq-bg.png);
}

.get-quote-shape {
  position: absolute;
  top: 0;
  right: 0;
}

.get-quote-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 160px;
}

.get-quote-content h2 {
  font-size: 40px;
  font-weight: 500;
  color: var(--light);
}

.get-quote-content h2 span {
  color: var(--secondary);
}

.get-quote-content p {
  font-size: 16px;
  line-height: 29px;
  color: var(--light);
  padding-top: 5px;
}

/* Get Quote Form CSS End */
